*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/bf6f/31fa/eb742d588636fc4b57d11e746d86bf37?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PaIgBxciKc2hm~gzNU5Zg5ci4l33fDr7kuuTSCBDQPr~PfF0O4qrMGNbr67n0iBT52Y-GsxZeFR-GotobE0Jme3P8g5WgFxDUl~rCD9WYX47aCPxZ8bolpsXn-UOKTqWSLvAVagvEDYwGJPvHZOtGUNIbwR6t8iCdSChu~dSxn1ttYfoJG1mnfuocrEKWgnzt4UA9436d04TTFxEk1yHeOzoT8u9r~3vVZF1ImgdT8y0Y2IgeuL0-ySekazxk41nYPAqAs3rAWVYR0EUmI3Gkhnth~21ssNTIP9CIfaBtv0e5VSG8cI~8-f0ePDXUfMaFczMLijM9D9DD-r6a3bmfw__");
    background-repeat: no-repeat;
    background-position: 40% 60%;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
}
.container>h1{
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
}
.container>p{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 40px;
    margin-bottom: 64px;
    width: 100%;
    text-align: center;
    padding: 0 180px;
}
.container>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container>div>button{
    border: none;
    display: flex;
    height: 64px;
    padding: 0 60px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #FFF;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-right: 56px;
}
.container>div>span>p{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-left: 16px;
}
.container>div>span{
    display: flex;
    align-items: center;
    justify-content: center;
}