*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
}
body{
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
    justify-content: space-around;
    margin: 1vh 1vw;
    gap: 2vh;
}
.main_container{
    width: 100%;
    height: 68vh;
    display: flex;
    gap:1vw;
}
.A{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
.container{
    width: 74vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
.B{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33vh;
    background-color: darkgrey;
}
.sub_container{
    display: flex;
    width: 100%;
    height: 33vh;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}
.C, .D, .E{
    height: 100%;
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
.F{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: darkgrey;
}

